* {
    box-sizing: border-box;
}

// Color Variables
$lightBlue: #29B6F6;
$mediumBlue: #039BE5;
$darkBlue: #01579B;
$white: #fff;
$ghostWhite: #f1f1f1;

// common properties 
$shadow : rgba(0, 0, 0, 0.3);
$radius: 4px;

@mixin flexCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $lightBlue;
    @include flexCenter();
    min-height:100vh;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

// Button
.settings-btn {
    cursor: pointer;
    font-size: 14px;
    padding: 5px 15px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    border: 0;
    border-radius: $radius;
    outline: 0;
}

// Settings 
.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $mediumBlue;
    height: 70px;
    @include flexCenter();
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    &__label {
        color:$white;
        padding-right: 5px;
    }
    &__select {
        width: 200px;
        padding: 5px;
        border-radius: $radius;
        appearance: none;
        background: $ghostWhite;
        &:focus {
            outline: 0;
        }
    }
    &.hide{
        transform: translateY(-100%);
    }
}

.game {
    background: $darkBlue;
    padding: 20px;
    border-radius: $radius;
    box-shadow: 0 3px 5px $shadow;
    color: $white;
    position: relative;
    text-align: center;
    width: 500px;
    &__title {
        background: $shadow;
        padding: 8px;
        border-radius: $radius;
        margin: 0 0 40px;
    }
    &__word {
        margin:0
    }
    &__input {
        border: 0;
        border-radius: $radius;
        font-size: 16px;
        width: 300px;
        padding: 12px 20px;
        margin-top: 10px;
    }
    &__score {
        position: absolute;
        top:60px;
        right: 20px;
    }
    &__time {
        position: absolute;
        top:60px;
        left: 20px;
    }
    &__endgame {
        background-color: inherit;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        button {
            padding: 10px 15px;
            border:0;
            border-radius: $radius;
            cursor: pointer;
        }
    }
}

.pressAnimation {
    animation: pressButton 0.5s ease;
}

@keyframes pressButton {
    from {
        transform: scale(1.4);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}